<section id="contact" class="contact">
    <div class="container">
        <h2>Contact</h2>
        <div class="contact-content">
            <div class="contact-info">
                <h3>Get in Touch</h3>
                <p>I'm passionate about retro gaming hardware, and aim to be a resource for people in my community who are trying to repair or restore their games and consoles.</p>
                <div class="contact-details">
                    <p>📘 <a href="https://www.facebook.com/profile.php?id=61577994856561" target="_blank">Facebook</a></p>
                    <p>📞 Text: 512-842-7699</p>
                </div>
            </div>

        </div>
    </div>
</section> 