<section id="equipment" class="equipment">
    <div class="container">
        <h2>Professional Equipment & Quality Assurance</h2>
        <div class="equipment-content">
            <div class="equipment-content-item">
                <p><strong>I've got the right tools for the job.</strong></p>
                <p>Most of what makes many of these tasks out of reach is the amount of special equipment you need – special screwdrivers, precision soldering tools, flux, solder wick, the works – I've already bought all this and I know how to use it.</p>
            </div>
            <div class="equipment-content-item">
                <p><strong>I don't want to mess your stuff up either.</strong></p>
                <p>I'm not interested in trying something for the first time on your priceless childhood console – I won't agree to do anything I'm not confident doing, and haven't done before on my own hardware.</p>
            </div>
        </div>
    </div>
</section> 